$color-primary: #fff;
$color-header: #9d9393;
$color-texterea: #2e333c59;
$color-keyboard: linear-gradient(90deg, #2e2c2c 13%, #575b64 54%, #3c3434 95%);
$color-key: linear-gradient(45deg, #282525 13%, #55617c 54%, #595252 95%);;
$color-hover: linear-gradient(45deg,#4ea8a4 13%,#698f9a 54%,#52507b 95%);
$color-active: linear-gradient(45deg, #433e3e 13%, #6e7074 54%, #3c3434 95%);
$color-key-special: linear-gradient(45deg, #433e3e 13%, #6e7074 54%, #3c3434 95%);
$color-info: #f8eeea;

$font-primary: Cambria, Cochin, Georgia, Times, "Times New Roman", sans-serif;
