body {
  background-image: url(../img/bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
}

.header__title {
  font-size: 30px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", sans-serif;
  text-align: center;
  color: #9d9393;
  text-transform: uppercase;;
}

.main {
  display: flex;
  flex-wrap: wrap;
}
.keyboard {
  display: flex;
  flex-wrap: wrap;
}

.keyboard__input {
  margin: 0 auto;
}

.texterea {
  width: 1015px;
  height: 150px;

  font-size: 16px;
  color: #ffffff;

  background: #2e333c59;
}

.keyboard__keys-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 1000px;
  margin: 0 auto;
  padding: 10px;

  background: linear-gradient(90deg, #2e2c2c 13%, #575b64 54%, #3c3434 95%);
  border: 2px solid #3f3b3b;
}

.key {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  margin: 3px;
  padding: 3px;

  color: #ffffff;

  background: #383b3f;
  background: linear-gradient(45deg, #282525 13%, #55617c 54%, #595252 95%);
  border: 1px solid black;
  border-radius: 3px;
  cursor: pointer;

  transition: all 0.2s ease;
}

.key:hover {
  background: linear-gradient(45deg,#4ea8a4 13%,#698f9a 54%,#52507b 95%);
}

.key__active {
  background: linear-gradient(45deg,#4ea8a4 13%,#698f9a 54%,#52507b 95%);
  border: solid 1px #0ee2e9;
  transform: scale(1.1);
}

.special__key-color {
  background: linear-gradient(45deg, #433e3e 13%, #6e7074 54%, #3c3434 95%);
}

.special__key-color.key__active {
  background: linear-gradient(45deg,#4ea8a4 13%,#698f9a 54%,#52507b 95%);
}

.keyboard__info {
  margin: 0 auto;
}
.info__text {
  font-weight: 900;
  font-size: 22px;
  font-family: Cambria,Cochin,Georgia,Times,Times New Roman,sans-serif;
  text-align: center;
  color: #f8eeea;
}
